<style>
  body {
    font-family: sans-serif;
    text-align: center;
  }

  .logo {
    width: 80%;
    height: 20%;
  }
</style>

<div class="container">

  <div class="banner">
    <img src="<%= image_tag('asyla-logo.png') %>" alt="asyla-logo" class="logo">
    <h1>Welcome to Aslya!</h1>
  </div>

  <div class="body">
    <p>We hope you enjoy using the MVP</p>
    <p>Remember, if you have any questions, please send an email to <a href="mailto:admin@asyla.ca">admin@asyla.ca.</a> Enjoy!</p>
  </div>

</div>
