 <div class="agent-grid">
   <%= render "shared/agent-banner" %>

  <div class="agent-container">
    <%= render "shared/calendar", {tasks: @tasks, date: @date } %>
  </div>

  <div class="sidebar hidden">
    <i id="close" class="far fa-times-circle"></i>
    <h3>Task Name</h3>
    <div class="task-details">
      <p> Time: </p>
      <p> Location: </p>
      <p> Deadline: </p>
      <p> Description: </p>
      <p> Attendees: 4/5 </p>
      <p> Status: not full</p>
      <p> Attachments: </p>
    </div>
    <div class="task-controls">
      <p href="#"><a> Edit this appointment</a></p>
      <p href="#"><a> Reschedule this appointment</a></p>
      <p href="#"><a> Add a client</a></p>
      <p href="#"><a> Remove a client</a></p>
    </div>
  </div>
</div>

<script>
  const calendar = document.querySelector('.agent-container');
  const sidebar = document.querySelector('.sidebar');
  const quit = document.getElementById('close');

  quit.addEventListener("click", function() {
    calendar.classList.toggle('compressed');
    sidebar.classList.toggle('hidden');
  })

  document.querySelectorAll('.calendar-day').forEach((day) => {
    day.addEventListener("click", function() {
      const appointment = day.innerText;
      if (!(calendar.classList.value.includes("compressed"))) {
        calendar.classList.toggle('compressed');
        sidebar.classList.toggle('hidden');
      }
    });
  });
  // all date divs respond to click event
  // upon click the date event will reveal a side pop-up window
  // inside the date event, it will load all events on that day
  // the pop up window will resize the calendar and popup window layout
</script>
