<div class="grid">
  <div class="client-banner"><h1>Calendar</h1></div>

  <div class="calendar-container">
    <div class="calendar">
      <%= render "shared/calendar", {tasks: @tasks, date: @date } %>
    </div>
  </div>

  <div class="calendar-appointment-container">

    <%= render "goals/goals-appointment-card",  {tasks: @tasks, date: @date } %>
  </div>

  <%= render 'shared/client-controller' %>
</div>
