<div class="client-controller">
  <%= link_to(tasks_path) do %>
    <i class="far fa-calendar-alt"></i>
  <% end %>
  <%= link_to(records_path) do %>
    <i class="far fa-folder"></i>
  <% end %>
  <%= link_to(new_user_session_path) do %>
    <i class="fas fa-user"></i>
  <% end %>
</div>
