<div class="filter-bar">
  <%=  link_to tasks_path({filter: 'Employment', date: @date}) do %>
  <div class="fas fa-briefcase"></div>
  <% end %>

  <%= link_to tasks_path({filter: 'Legal', date: @date}) do %>
  <div class="fas fa-gavel"></div>
  <% end %>

  <%= link_to tasks_path({filter: 'Medical', date: @date}) do %>
  <div class="fas fa-notes-medical"></div>
  <% end %>

  <%= link_to tasks_path(date: @date, filter: "none") do %>
  <div class="far fa-calendar-alt"></div>
  <% end %>
</div>
