<div class="grid">
  <div class="client-container">
    <div class="client-banner">
      <h1>Container Head</h1>
    </div>

    <div class="banner-card-appointment ">
      <p>February 14th</p>
    </div>

    <div class='card-appointment'>
      <div class="card-appointment-date">
        <p class="date-day">Monday</p>
        <h3 class="date-number">18th</h3>
      </div>
      <div class="card-appointment-details">
        <h4>Collect AR-11 Card</h4>
        <p class="card-appointment-details-text">Start: 0900</p>
        <p class="card-appointment-details-text">EndL 1000</p>
        <a href="#" class="card-appointment-details-link">More information</a>
      </div>
    </div>

    <div class='card-appointment'>
      <div class="card-appointment-date">
        <p class="date-day">Monday</p>
        <h3 class="date-number">18th</h3>
      </div>
      <div class="card-appointment-details">
        <h4>Collect AR-11 Card</h4>
        <p class="card-appointment-details-text">Start: 0900</p>
        <p class="card-appointment-details-text">EndL 1000</p>
        <a href="#" class="card-appointment-details-link">More information</a>
      </div>
    </div>

    <div class="appointment-show-container">
      <div class="card-appointment-show">
        <p class="card-appointment-show-title">Name:</p>
        <p class="card-appointment-show-content">John Doe</p>
      </div>
      <div class="card-appointment-show">
        <p class="card-appointment-show-title">Location:</p>
        <p class="card-appointment-show-content">1234 Fake Street</p>
      </div>
      <div class="card-appointment-show">
        <p class="card-appointment-show-title">Category: </p>
        <p class="card-appointment-show-content"> Employment</p>
      </div>
      <div class="card-appointment-show">
        <p class="card-appointment-show-title">Details: </p>
        <p class="card-appointment-show-content"> Lorem Ipsum</p>
      </div>
    </div>
    <div class="appointment-show-container">
      <div class="card-appointment-show">
        <p class="card-appointment-show-title">Response</p>
        <div class="card-appointment-show-response">
          <button class="btn btn-success">Conflict in schedule</button>
          <button class="btn btn-success">Attending</button>
          <button class="btn btn-danger">Will Not Attend</button>
        </div>
      </div>
    </div>

    <div class='card-appointment'>
      <div class="card-appointment-date">
        <p class="date-day">Monday</p>
        <h3 class="date-number">18th</h3>
      </div>
      <div class="card-appointment-details">
        <h4>Collect AR-11 Card</h4>
        <p class="card-appointment-details-text">Start: 0900</p>
        <p class="card-appointment-details-text">EndL 1000</p>
        <a href="#" class="card-appointment-details-link">More information</a>
      </div>
    </div>
  </div>

  <div class="client-controller">
    <%= link_to(tasks_path) do %>
      <i class="far fa-calendar-alt"></i>
    <% end %>
    <%= link_to(records_path) do %>
      <i class="far fa-folder"></i>
    <% end %>
  </div>

</div>

