.agent-container {
  grid-row: 4 / span 20;
  grid-column: 4 / span 18;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  .calendar-header { // This code resizes the calendar for agent view
    width: 100%;
    height: 8%;
    background-color: white;
    padding: 12px 5px 15px 5px;
  }
  .calendar-body { // This code resizes the calendar for agent view
    width: 100%;
    height: 92%;
    background-color: white;
    padding: 15px 5px 5px 5px;
  }
}

.sidebar {
  grid-row: 4 / span 20;
  grid-column: 16 / span 7;
  background-color: white;
  margin-left: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  padding: 30px;
  position: relative;
  overflow-y: scroll;
  .top-controller {
    margin-bottom: 15px;
    margin-top: -10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    align-items: center;
    .fa-user-alt {
      color: silver;
      &:hover {
        color: gray;
      }
    }
    .fa-calendar {
      color: silver;
      &:hover {
        color: gray;
      }
    }
  }
  .fa-arrow-left {
    margin-right: auto;
    color: silver;
    font-size: 24px;
    top: 8px;
    left: 8px;
    &:hover {
      color: gray;
    }
  }
  .fa-times-circle {
    position: absolute;
    color: silver;
    font-size: 24px;
    top: 8px;
    right: 8px;
    &:hover {
      color: gray;
    }
  }
  .task-details {
    margin-left: 25px;
    margin-bottom: 15px;
    border-left: 2px solid rgba(0,0,0,0.1);
    padding-left: 10px;
  }
  .task-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }
  .task-controls {
    // border-top: 1px solid rgba(0,0,0,0.1);
    margin-left: 15px;
    margin-bottom: 25px;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    right: 40px;
    border: 2px solid silver;
    margin-right: 15px;
  }
  p {
    font-size: 14px;
    color: gray;
  }
  h4 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  a {
    color: #78c6e0;
    &:hover {
      color: #60b9e5;
    }
  }
}

.notifications-title {
  grid-column: 18 / span 7;
  grid-row: 3 / span 1;
  font-size: 12px;
  color: silver;
  background-color: white;
  position: relative;
  top: -10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 0;
  z-index: 2;
  border-radius: 25px 25px 0 0;
  border: 1px solid rgba(0,0,0,0.1);
}
.notifications-bar {
  // border: 1px solid black;
  grid-column: 18 / span 7;
  grid-row: 3 / span 9;
  padding: 20px;
  z-index: 1;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,0.1);
  .alert-bubble {
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 15px 0 15px 0;

    .name {
      flex: 0 0 30%;
    }
    .status {
      flex: 0 0 30%;
    }
  }
  img {
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    right: 40px;
    border: 2px solid #00a699;
    margin-right: 15px;
  }
  p {
    font-size: 12px;
  }
  a {
    font-size: 12px;
    color: #78c6e0;
    &:hover {
      color: #56b0e2;
    }
  }
}

.alert-number {
  position: absolute;
  color: white;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  right: 30px;
  top: 5px;
}

.hidden {
  display: none;
}

.compressed {
  grid-column: 3 / span 13;
}

#bold {
  // font-weight: 900;
}

#problem-false {
  border: 2px solid #00a699;
}

#problem-true {
  border: 2px solid #c63c1d;
}
