.calendar-container {
  grid-column: 5 / span 4;
  grid-row: 2 / span 6;
  .calendar {
    width: 100%;
    height: 100%;
  }
}

.calendar-appointment-container {
  grid-column: 5 / span 4;
  grid-row: 8 / span 4;
  justify-content: flex-start;
  overflow-y: scroll;
  .calendar-banner {
    background-color: silver;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 12px;
    height: 17px;
  }
}

@media(max-width: 960px) {
  .calendar-container {
    grid-column: 1 / span 12;
    grid-row: 2 / span 6;
  }
  .calendar-appointment-container {
    grid-column: 1 / span 12;
    grid-row: 8 / span 4;
  }
}
