body {
  background-color: white;
}

.goals-index-container  {
  grid-column: 5 / span 4;
  grid-row: 1 / span 11;
  overflow-y: scroll;
}

.goals-index-container {
    grid-column: 5 / span 4;
    grid-row: 5 / span 7;
}

#Employment {
  grid-row: 2 / span 3;
  grid-column: 5 / span 1;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  margin: 0;
}

#Legal {
  grid-row: 2 / span 3;
  grid-column: 6 / span 1;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  margin: 0;
}

#Medical {
  grid-row: 2 / span 3;
  grid-column: 7  / span 1;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  margin: 0;
}

@media(max-width: 960px) {
  .client-banner {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }
  .goals-index-container {
    grid-column: 1 / span 12;
    grid-row: 5 / span 7;
  }
  #Employment {
    grid-row: 2 / span 3;
    grid-column: 1 / span 4;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    margin: 0;
  }
  #Legal {
    grid-row: 2 / span 3;
    grid-column: 5 / span 4;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    margin: 0;
  }
  #Medical {
    grid-row: 2 / span 3;
    grid-column: 9  / span 4;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-left: 1px solid rgba(0,0,0,0.1);
    margin: 0;
  }
  .goals-dashboard {
    display: flex;
    justify-content: center;
  }
}

// .goals-card-container {
//   grid-column: 5 / span 4;
//   grid-row: 1 / span 1;
//   display: flex;
//   background-color: white;
//   border: 1px solid red;
// }

// .card-goals-show {
//   flex: 0 0 33%;
//   border: 1px solid black;
// }

// .card-goals-show-title {
//   padding-left: 15px;
//   flex: 0 0 35%;
//   font-weight: 750;
// }

// .card-goals-show-content {
//   flex: 0 0 65%;
// }

// .card-goals-show-response {
//   padding: 15px;
//   button {
//     width: 205px;
//     margin: 3px;
//   }
// }
