<div class="agent-banner">

  <div class="left-controls">
    <a href="#"><i id="hamburger" class="fas fa-bars"></i></a>
    <div class="agent-banner-avatar">
      <% if current_user.avatar.present? %>
        <img src="<%= current_user.avatar unless current_user.avatar.blank? %>">
      <% else  %>
          <i class="far fa-user-circle"></i>
      <% end %>
    </div>
    <div class="view-controller">
      <h4>Administrator</h4>
      <span>View:<a href=""><u>Month</u></a><a href="#">Week</a></span>
    </div>
    <i class="fas fa-plus-circle" data-toggle="modal" data-target="#modal-form"><span style="margin-left: 8px; font-family: 'Lato';">Onboard Client</span></i>
    <%= render "clients/new"%>
  </div>

  <div class="right-controls">
    <form class="search-bar form-group" method="get" id="search-bar" action="#">
    <input id="search-bar search-field" name="query" type="text">
      <i class="fas fa-search"></i>
    </form>
    <a href="#"><i id="bell" class="far fa-bell"></i></a>
    <a href="#"><i id="bell-fill" class="fas fa-bell hidden"></i></a>
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>

</div>


