  <div class="client-controller">
    <!-- Homepage -->
    <%= link_to(tasks_path) do %>
      <i class="far fa-calendar-alt"></i>
    <% end %>
    <!-- Records -->
    <%= link_to(records_path) do %>
      <i class="far fa-folder"></i>
    <% end %>
    <!-- Edit User Profile Page -->
    <%= link_to(edit_user_registration_path) do %>
      <i class="far fa-user"></i>
    <% end %>
    <!-- Settings and log out -->
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>
