<div class="client-banner"><h1><%= title %></h1>
  <% if current_user.avatar.present? %>
    <img class="avatar" src="<%= current_user.avatar unless current_user.avatar.blank? %>">
  <% else  %>
    <i class="far fa-user-circle"></i>
  <% end %>
</div>
