 <div class="agent-grid">
  <%= render "shared/alert-bubble" %>
  <%= render "shared/agent-banner" %>

  <div class="agent-container compressed">
    <%= render "shared/calendar", {tasks: @tasks.where(user_id: params[:id]), date: @date } %>
  </div>

  <%= render "shared/agent-sidebar" %>
</div>

<script>
  const calendar = document.querySelector('.agent-container');
  const sidebar = document.querySelector('.sidebar');
  const quit = document.getElementById('close');

  quit.addEventListener("click", function() {
    calendar.classList.toggle('compressed');
    sidebar.classList.toggle('hidden');
  })

  document.querySelectorAll('.calendar-day').forEach((day) => {
    day.addEventListener("click", function() {
      const appointment = day.innerText;
      if (!(calendar.classList.value.includes("compressed"))) {
        calendar.classList.toggle('compressed');
        sidebar.classList.toggle('hidden');
      }
    });
  });
</script>
