<% @records.each do |record| %>
  <p><%= record.title %></p>
  <%= link_to record_path(record) do%>
    <img src="<%= record.photo %>" height="300" width="400" ) %></img>
  <% end %>
<% end %>


<%= link_to 'Add user', new_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
