<div class="grid">
  <div class="client-container"><h1>Records</h1></div>

  <div class="client-controller">
    <%= link_to(tasks_path) do %>
      <i class="far fa-calendar-alt"></i>
    <% end %>
    <%= link_to(records_path) do %>
      <i class="far fa-folder"></i>
    <% end %>
  </div>

</div>
