<h2><%= @record.title %></h2>


<div class="grid">
  <div class="client-container">
    <div class="client-banner"><%= @records.category %></div>

    <img src="<%= @record.photo %>") %></img>

<div class="client-records-downloaded-documents">The following document is available: </div>
  <div class="Document">

    </div>
  </div>
</div>
