<h1>Records#show</h1>
<p>Find me in app/views/records/show.html.erb</p>


  <div class="test">
          <div class="card-test">
            <div class="card-record-document-test">test</div>
          </div>
          <div class="card-test">
            <div class="card-record-document-test">test</div>
          </div>
          <div class="card-test">
            <div class="card-record-document-test">test</div>
          </div>
          <div class="card-test">
            <div class="card-record-document-test">test</div>
          </div>
    </div>
