<div class="grid">
 <div class="client-container">
   <div class="client-banner"><h1>Records</h1></div>
    <%= link_to("Edit profile", edit_user_registration_path) %>
  </div>
  <%= render "shared/client-controller" %>
</div>
