.calendar {
	height: 30vh;
	margin: 0px auto;
}

.calendar-container {
	padding: 15px;
	border: 2px solid black;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: minmax(0, 2fr) minmax(0, 15fr);
	overflow: hidden;
}


a {
	color: black;
	&:hover {
		color: rgba(0,0,0,0.5);
		text-decoration: none;
	}
}

.calendar-header {
	width: 100%;
	font-size: 30px;
	line-height: 1;
	display: flex;
	justify-content: space-between;
}

.calendar-body {
	width: 100%;
	display: block;
	overflow: hidden;
	min-height: 0;
}

.calendar-table {
	height: 100%;
	display: grid;
	grid-template-rows: minmax(0, 2fr) repeat(6, minmax(0, 3fr));
	overflow: hidden;
	min-height: 0;
}

.calendar-row-header {
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	min-height: 0;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.calendar-row {
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	min-height: 0;
	overflow: hidden;

}

.calendar-day {
	transition: background-color 0.3s ease;
	border-radius: 3px;
	padding-left: 3px;
	margin: 1px;
	min-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	&:hover {
	background-color: rgba(0,0,0,0.1);
	}
}

.past {
	color: #888888;
}

.today {
	background-color: darkseagreen;
	transition: background-color 0.3s ease;
	&:hover {
	background-color: teal;
	}
}

.date {
	
}

.task-icons {
	flex-grow: 1;
	flex-wrap: wrap;
	height: 80%;
	margin: auto;
	font-size: 8px;
	line-height: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}





