.calendar {
	height: 30vh;
	margin: 0px auto;

    display: grid;
    grid-template-rows: minmax(0, 2fr) minmax(0, 15fr);
}

.calendar-container {
    overflow: hidden;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: gray;
}


a {
	color: black;
	&:hover {
		color: gray;
		text-decoration: none;
	}
}

.calendar-header {
	width: 100%;
	font-size: 22px;
  color: black;
	line-height: 1;
	display: flex;
	justify-content: space-between;
  border-bottom: 1px solid #00a699;

  i {
    color: silver;
    font-size: 20px;
    margin: 5px;
    &:hover {
      color: gray;
    }
  }
}

.calendar-body {
	width: 100%;
	display: block;
	overflow: hidden;
	min-height: 0;

}

.calendar-table {
	height: 100%;
	display: grid;
	grid-template-rows: minmax(0, 2fr) repeat(6, minmax(0, 3fr));
	overflow: hidden;
	min-height: 0;
  font-size: 15px;
  line-height: 1.3;
}

.calendar-row-header {
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	min-height: 0;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 1px;
  line-height: 1.2;
  padding-top: 2px;
  color: black;
  div {
    font-weight: 700;
  }
}

.calendar-row {
	display: grid;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	min-height: 0;
	overflow: hidden;

}

.calendar-day {
	transition: background-color 0.3s ease;
	border-radius: 3px;
	padding-left: 3px;
	margin: 1px;
	min-height: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-left: 0;
	&:hover {
	 background-color: rgba(0,0,0,0.1);
	}
}

.past {
	color: #888888;
}

.today {
	background-color: #60b9e5;
	transition: background-color 0.3s ease;
  height: 40px;
  width: 43px;
  border-radius: 50%;

    margin: 2% auto;
	 &:hover {
	  background-color: #4c9ac4;
	}
}

.date {

}

.active {
	background-color: #4c9ac4;
}

.task-icons {
	flex-grow: 1;
	flex-wrap: wrap;
	height: 80%;
	margin: auto;
	font-size: 8px;
	line-height: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}





