/* views/appointments/index */

.tasks-view-container {
  height: 95vh;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
}

.card-appointment-container {
  width: 100%;
  background-color: #eaeaea;
  height: 65vh;
  overflow: scroll;
}

.card-appointment {
  flex: 0 0 auto;
  background-color: white;
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0,0.1);
  // border-bottom: 1px solid rgba(0,0,0,0.1);
  &:hover {
    background-color: #efefef;
  }
  p {
    font-size: 12px;
    margin: 0;
  }
  h4 {
    font-size: 19px;
    margin: 0;
    margin-bottom: 3px;
  }

  a {
    flex: 0 0 10%;
  }
  i {
    color: gray;
    font-size: 20px;
    i:hover {
      color: silver;
    }
  }
  #date-th {
    font-size: 10px;
    position: relative;
    top: -25px;
  }
}


.card-appointment-date {
  flex: 0 0 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10px;
  border-radius: 30%;
  height: 80px;
  width: 80px;
  text-align: center;
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 40px;
  }

  &.gold-border {
    border: 2px solid #ccaa50;
  }

  &.teal-border {
    border: 2px solid #4DA1A4;
  }

  &.red-border {
    border: 2px solid #71140C;
  }
}




.card-appointment-details {
  // flex-grow: 1;
  flex: 0 0 58%;
  h4 {
    font-weight: lighter;
    color: #4E4F49;
    font-family: Roberto;
    font-size: larger;
    padding-bottom: 8px;
  }
}

.card-appointment-button {
    font-size: 30px;
    border-radius: 23%;
    margin-right: 25px;

    color: #5e5e5e;
    border: 2px solid silver;
    height: 41%;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  i {
    color: silver;
    font-size: 20px;
  }
}

.card-appointment-show-button {
  color: silver;
  margin: auto 26px;


  i {
    color: #3a76b0;
    font-size: 14px;
    margin-left: 19px;
    width: 100px;
    position: absolute;
  }
}

.date-day {
  margin: -20px 0 0 0 ;
}

.date-number {
  color: #0074c1;
  font-size: 30px;
  margin: 0;
}

.card-appointment-details-text {
  margin: 0px;
  color: rgba(0, 0, 0, 0.6);
}

.card-appointment-details-link {
  margin-top: 15px;
}

// To be used as banner showing dates for appointments
.banner-card-appointment {
  // border: 1px solid black;
  height: 20px;
  text-align: center;
  font-size: 10px;
  padding: 1px;
  // margin: 1px;
  background-color: #e8e8e8;
  position: sticky;
  top: 0px;

}

.banner-card-appointment-show-more {
  background-color: white;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  p {
    margin: 0px;
    line-height: 30px;
  }
}

.border-appointment {
  margin: 11px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


