/* views/appointments/show */

/*The followuing card sits inside this container*/
.hidden {
  height: 0px;
  transition: height 0.3s linear;
}

.appointment-show-container {
  padding: 20px;
  background-color: white;
  height: auto;
  transition: height 0.3s linear;
}

.card-appointment-show {
  display: flex;
  flex-direction: row;
}

.card-appointment-show-title {
  padding-left: 15px;
  flex: 0 0 35%;
  font-weight: 750;
}

.card-appointment-show-content {
  flex: 0 0 65%;
}

.card-appointment-show-response {
  padding: 15px;
  button {
    width: 205px;
    margin: 3px;
  }
}
