/* views/appointments/index */
.header {
  position: sticky;
  top: 0;
  background-color: white;
}


.card-appointment-container {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

.card-appointment {
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


.card-appointment-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 30px;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  text-align: center;
}

.card-appointment-details {
  flex-grow: 1;
}

.card-appointment-button {
  justify-content: center;
  font-size: 60px;
  margin-right: 50px;
}

.date-day {
  margin: -20px 0 0 0 ;
}

.date-number {
  color: #0074c1;
  font-size: 30px;
  margin: 0;
}

.card-appointment-details-text {
  margin: 0px;
}

.card-appointment-details-link {
  margin-top: 15px;
}

// To be used as banner showing dates for appointments
.banner-card-appointment {
  border: 1px solid black;
  height: 20px;
  text-align: center;
  font-size: 10px;
  padding: 1px;
  margin: 1px;
  background-color: #e8e8e8;
}

.banner-card-appointment-show-more {
  background-color: white;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  p {
    margin: 0px;
    line-height: 30px;
  }
}


