#large-label {
  font-size: 20px;
  color: teal;
}

#large-label-red {
  font-size: 20px;
  color: #c63c1d;
}

.card-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 3px;
  padding-top: 5px;
  // opacity: 0.8;
  #goal-name {
    font-size: 12px;
    font-weight: 500;
  }
  p {
    width: 105%;
    font-size: 9px;
    text-align: center;
  }
  &:hover {
    background-color: #eaeaea;
  }
}

.card-goal-icon {
  border: 4px solid rgba(0,0,0,0.2);
  margin-bottom: 5px;
  border-radius: 100%;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // opacity: 0.8;
  i {
    font-size: 40px;
    color: #5e5e5e;
  }
}

#progress-Employment {
  grid-row: 2 / span 3;
  grid-column: 5 / span 1;
  margin: 0 auto;
  position: relative;
  top: -24px;
  padding-right: 1px;
  // width: 100%;
  // height: 100%;
}

#progress-Legal {
  grid-row: 2 / span 3;
  grid-column: 6 / span 2;
  margin: 0 auto;
  position: relative;
  top: -24px;
  padding-right: 1px;
  // width: 100%;
  // height: 100%;
}

#progress-Medical {
  grid-row: 2 / span 3;
  grid-column: 8  / span 1;
  margin: 0 auto;
  position: relative;
  top: -24px;
  padding-right: 1px;
  // width: 100%;
  // height: 100%;
}

@media(max-width: 960px) {
  #progress-Employment {
    grid-row: 2 / span 3;
    grid-column: 1 / span 4;
    top: -24px;
  }
  #progress-Legal {
    grid-row: 2 / span 3;
    grid-column: 5 / span 4;
    top: -24px;
  }
  #progress-Medical {
    grid-row: 2 / span 3;
    grid-column: 9  / span 4;
    top: -24px;
  }
}














