.client-container-login  {
  grid-column: 1 / span 12;
  grid-row: 1 / span 12;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width: 960px) {
  .client-container-login {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;

  }
}

.client-login-card {
  width: 200px;
  height: 100vh;
  justify-content: center;
  margin: auto;
  a {
      color: white;
      font-size: 15px;
      font-weight: 500;
    }
}

.logo-login {
  // padding: 32px;

  img {
    vertical-align: middle;
    height: 106px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    margin-bottom: 123px;
    display: block;
    opacity: 3.8;
  }
}

.client-login-info {
  // padding: 69px;
  // padding-top: 113px;
  // padding-bottom: 86px;

}
.form-inputs {
  color: white;

  input {
    border-radius: 11px;
    // margin: 16px;
    color: black;
    font-size: 17px;
    text-align: center;
    // width: 187px;
  }
  .text-muted {
    color: white;
    line-height: 1.3;
    display: flex;
    font-size: 10px;
  }
}


.form-actions {
  input {
    border-radius: 11px;
    // margin: 16px;
    background-color: #2D6B9C;
    color: white;
    font-size: 17px;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;


    // width: 187px;
    // margin: -5px;
    // margin-left: 86px;
  }
}

.client-signup-login-signup {
    text-align: center;
    padding: 24px;

  a {
    color: white;
    font-size: 14px;
  }
}
.backgound-image {
  // background-image: linear-gradient(-315deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), asset-url("aslya_bg.jpeg");
  background-image: linear-gradient(180deg, rgba(0, 101, 168, 1) 0%, rgba(0, 36, 61, 0.6) 80%), asset-url("aslya_bg.jpeg");
  background-size: cover;
  background-position: top;
}

#new_user {
    line-height: 0.42857;
    color: #333333;
    font-size: 9px;
    font-family: "sans-serif";
}





