.client-banner {
    text-align: center;
    height: 73px;
    border: 1px solid black;
    border-bottom: 2px solid gray;
    background-color: #0074c1;
    color: white;
    top: 0;
    position: sticky;
    h1{
      font-size: 25px;
      font-weight: normal;
    }
}
