// for record modals
.photo-resizing {
  max-width: 100%;
  max-height: 100%;
}


// for add a user form and edit a user form modals
.Modal-header {
  color: black;
  text-align: center;
  opacity: 0.6;
}

.modal-header {
  background-color: $light-gray;
  font-family: $headers-font;
}

#modal-labels{
  font-size: 16px;
  color: black;
}

.submit{
  display: block;
  margin: auto;
}

// the modal editing form for edditing a task
