.filter-bar {
  position: absolute;
  top: 0vh;
  right: 0;
  width: 30%;
  height: 8vh;
  padding-right: 10px;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .fa-briefcase, .fa-gavel, .fa-notes-medical, .fa-calendar-alt{
    color: white;
  }
}

.fa-briefcase:hover {
  opacity: 0.6;
}

.fa-gavel:hover{
  opacity: 0.6;
}

.fa-notes-medical:hover {
  opacity: 0.6;
  }

.fa-calendar-alt:hover {
  opacity: 0.6;
}
