<div class='card-appointment'>
  <div class="card-appointment-date">
    <p class="date-day">Monday</p>
    <h3 class="date-number">18<span id="date-th">th</span></h3>
  </div>
  <div class="card-appointment-details">
    <h4>Collect AR-11 Card</h4>
    <p>Start: 0900</p>
    <p>EndL 1000</p>
  </div>
  <a href="#"><i class="fas fa-info"></i></a>
</div>
