<div class="grid">
  <div class="client-banner"><h1>Goals</h1></div>
  <%= render "goals/goals-dashboard" %>
  <div class="goals-index-container">
  </div>
  <%= render 'shared/client-controller' %>
</div>

<%= javascript_tag do %>
  const employment = getElementById('employment');
  const legal = getElementById('legal');
  const medical = getElementById('medical');

<% end %>


