<div class="grid">
  <div class="client-container">
    <div class="client-banner"><h1>Goals</h1></div>
    <%= render "goals/goals-dashboard" %>
    <!--  RJ: Removed calendar from code: it kept crashing the app. The calendar partial has not been changed. -->
  </div>
  <%= render 'shared/client-controller' %>
</div>


